body {
    background-image: url(../../assets/images/choosing-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #172238;
    padding-bottom: 100px;
    padding: 0px 30px 100px 30px;
}
.contenuto{
    font-weight: 900;
}
.conteiner{
    font-style: normal;
    text-align: center;
    margin-top: 100px;
    color: white;
}
.contenuto h1 em {
    font-style: normal;
    color: #f5a425;
    font-weight: 900;
}
.paragrafo{
    color: #fff;
    font-size: 15px;
    line-height: 28px;
}